* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 30px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button:hover,
button:focus {
  cursor: pointer;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  background-color: #4056b4;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form_input {
  min-height: 35px;
  min-width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid transparent;
  border-radius: 3px 0 0 3px;
}

.search-form_input:focus {
  outline: none;
}

.search-form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  min-width: 40px;
  border: 1px solid transparent;
  border-radius: 0 3px 3px 0;
}

.gallery {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.photo-card {
  color: inherit;
  text-decoration: none;
  width: calc((100% - 45px) / 4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}

.info {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  gap: 7px;
  font-size: 12px;
}

.info-item {
  width: calc((100% - 31px) / 4);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.load-more {
  display: inline-block;
  margin: 0 auto;
  padding: 5px 15px;
  font-size: 18px;
  color: white;
  background-color: #4056b4;
  border: 1px solid transparent;
  border-radius: 3px;
}
